body {
    background-color: #FFF5E4;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height: 2px;
    width: 5%;
}

h1, h3 {
    color: #850E35;
}