<%- include('partials/header') -%>

<h1>Compose</h1>
<form action="/" method="post">
    <input type="text" name="composeInput">
    <button type="submit">Publish</button>
</form>

<%- include('partials/footer') -%>