<%- include('partials/header') -%>

<h1>Home</h1>
<p><%= homeDisplayContent %></p>
<% blogPosts.forEach(function(post) { %>
    <% console.log(post.postTitle) %>
<% }); %>

<%- include('partials/footer') -%>