</div>
<!-- Webpage Footer -->
<div class="webpage-footer">
    <footer class="footer">
        <h4>BookWorm</h4>
        <p>Made with ❤️ by Aryan Khurana<br> <span>Copyright&copy; 2022</span></p>
    
        <div class="icons">
            <a href="https://www.linkedin.com/in/aryan-khurana-239684229/" target="_blank"><i class="uil uil-linkedin"></i></a>
            <a href="https://github.com/AryanK1511" target="_blank"><i class="uil uil-github"></i></a>
            <a href="https://twitter.com/AryanK1511" target="_blank"><i class="uil uil-twitter"></i></a>
        </div>
    </footer>
</div>

<!-- Custom JavaScript -->
<script src="JS/script.js"></script>

<!-- Animate on Scroll JS -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</div>
</body>
</html>