<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="CSS/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
        <% for (let i = 0; i < newListItems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[i] %></p>
            </div>
        <% } %>
        </ul>
        <form class="item" action="/" method="post">
            <input placeholder="New Item" type="text" name="newItem" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>
    </div>
    <footer>
        copyright&copy; Aryan Khurana
    </footer>

    <!-- You can create layouts or partials using EJS. For this you will first have to make two files names 'header.ejs' and 'footer.ejs' in the views folder which will contain the layout for the header and footer respectively.
    Syntax for using the layout in other files:
    include('header');
    Random content
    include('footer');-->
</body>
</html>