<%- include("partials/header"); -%>

    <!-- ========== HOMEPAGE ========== -->
    <section class="home-page" id="home-page">
        <!-- Home Container -->
        <div class="home-container">
            <div class="home-logo">
                <img src="/Images/BookWorm-Logo.png" alt="BookWorm-Logo"  data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">
            </div>
            <div class="home-text-box" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"">
                <h1 class="home-title">BookWorm</h1>
                <p>Wanna keep a track of books that you have read or are planning to read?  Don't worry, we've got you covered!!</p>
            </div>
            <div class="home-btn-box">
                <a class="home-link" href="/reading-list"><button class="home-btn">Create Reading List</button></a>
                <a class="home-link" href="#info"><button class="home-btn">Read More</button></a>
            </div>
        </div>
    </section>
    
    <!-- ========== ABOUT PAGE ========== -->
    <section class="about-page" id="about-page">
        <div class="about-container">
            <h1 class="about-title" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">About Me</h1>
            <div class="row text-center">
                <div class="col-lg-6" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">
                    <img src="/Images/abt-img.png" alt="about-image" class="about-image">
                </div>
                <div class="col-lg-6 my-auto" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">
                    <p class="about-text">I am Aryan Khurana, an international student from India pursuing an Advanced Diploma in Computer Programming and Analysis from Seneca College, Toronto. I am passionate about Computer Science and Software Development and my goal is to contribute to the society and work towards the betterment of Information Technology. 
                    I enjoy solving problem solving, challenges, researching and developing new technologies and creating software applications for different platforms. I am always prepared to learn new things and gain new experiences. I enjoy meeting people and working with them in a team environment where I get to develop my skills and improve myself.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- IMPORTANCE OF READING PAGE -->
    <section class="info" id="info">
        <div class="info-conatiner"></div>
        <h1 class="info-title" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">IMPORTANCE OF READING</h1>
        <p class="info-para" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">"Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers." - Charles W. Eliot</p>
            <div class="row text-center">
                <div class="col-lg-6 my-auto" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">
                    <p class="info-text">Books work as portals to newer worlds. They have the potential to broaden your perspective, shape your attitude towards others and life, and open you up to new ways of thinking about everyday life. One of the benefits of reading is that it relaxes your mind and body. You recharge your energy levels much faster when you read. Reading is the best way to end the day on a calm note. It may even help you fall asleep much faster. Reading sends your analytical and critical thinking abilities into hyperdrive. Each book becomes a puzzle your mind races to solve. With each book, it keeps improving its score.</p>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">
                    <img src="/Images/info-img-01.png" alt="info-image" class="info-image">
                </div>
                <div class="col-lg-6 my-auto" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">
                    <p class="info-text">Another vital role of reading skills in communication is perfecting your oratory skills. Reading teaches you new words and perspectives. It helps strengthen language and sharpens sentence structure. It gives you a better command over the language. All of these are critical to being a good speaker. The importance of a reading habit is that it strengthens mental muscles. Reading is one of the best mental workouts there is. It’s been found that regular mental stimulation can slow down and possibly even prevent diseases like Alzheimer’s and dementia. Reading keeps the mind agile and young.</p>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">
                    <img src="/Images/info-img-02.png" alt="info-image" class="info-image">
                </div>
            </div>
    </section>

    <!-- ========== COMPANY PAGE ========== -->
    <section class="company-page" id="company-page">
        <div class="company-container">
            <h1 class="company-title" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">Helping you build a Reading Habit</h1>
            <div class="row text-center">
                <div class="col-lg-6" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">
                    <img src="/Images/company-img.png" alt="company-image" class="company-image">
                </div>
                <div class="col-lg-6 my-auto" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000">
                    <p class="company-text">BookWorm is a web application that is created with the aim of developing a reading habit in people. This application helps you to search any book that you want and add it to your reading list. This feature helps you track and make an account of the books that you are reading or are planning to read in the future. You can create a reading list and can delete the books that you have added as well. You also have an option in your reading list to sort according to alphabetical order.</p>
                </div>
            </div>
        </div>
    </section>

<%- include("partials/footer"); -%>
