* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Merriweather', serif;
}

img {
    border-radius: 100%;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}

span {
    text-decoration: underline;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 9px;
    height: 2px;
    width: 5%;
    margin: 40px auto;
}

#main-heading {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    height: 100vh;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    margin: 80px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.computer-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.profile {
    margin: 100px auto;
}

#hello {
    margin: 20px 0;
}

#intro {
    width: 30%;
    margin: 0 auto;
}

.contact-me {
    padding: 30px 0;
}

.contact-message {
    width: 40%;
    margin: 40px auto;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 20px 0;
}

.footer-link {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}

.footer-link:hover {
    color: #EAF6F6;
}

#end {
    padding: 30px 0 0 0;
    color: #EAF6F6;
    font-size: 0.75rem;
}